body {
    line-height: 20px;
    margin-right: 30%;
    margin-left: 30%;
}

h1 {
    font-family: fantasy;
}

h2 {
    font-family: cursive;
}

p {
    font-family: monospace;
    text-align: left;
}

input {
    background-color: brown;
    font-style: italic;
}